/sources/*
!/sources/.keepme
/conf/nginx/conf.d/*
!/conf/nginx/conf.d/.keepme
/conf/nginx/ssl/*
!/conf/nginx/ssl/.keepme
/logs/nginx/*
!/logs/.keepme
!/logs/nginx/.keepme
/data/*
!/data/.keepme
!/data/mysql/.keepme
/data/mysql/*
/databases/*
!/databases/.keepme
/databases/import/*
/databases/export/*
!/databases/import
!/databases/export
!/databases/import/.keepme
!/databases/export/.keepme
