MYSQL_DATABASE=magento
MYSQL_USER=admin
# MySQL ENV
MYSQL_PASSWORD=magentosmartosc123
MYSQL_ROOT_PASSWORD=magentosmartosc123
MYSQL_VERSION="5.7"
#MYSQL_VERSION="8.0"
# RabbitMQ ENV
RABBITMQ_ERLANG_COOKIE=RABBITMQ_ERLANG_COOKIE
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=smartosc123;

